<menu>
	<!-- 
		This is the menu-definition for the ControlScreenlet. This file
		gives full access to the layout of the right-click menu and allows
		to connect menu-items to certain actions by defining the action in
		the "id"-field of an item. 
		
		Available actions are:
			- "exec:<shell-command>" executes a shell command
			- "add:<Screenlet-classname>" adds a new instance of the given class
			- "info" shows about/info dialog for the Screenlet
			- "size:<size>" sets the Screenlet's size to the given number
			
		Available items are <item>, <checkitem>, <imagetem> and 
		<separator>. Please don't forget to only write valid XML, otherwise the
		menu can not be created. There is an experimental feature <scandir> - 
		it allows scanning directories for files/dirs, skip certain files, 
		replace string(s) in filenames, append prefix/suffix and 
		finally create a gtk.MenuItem for each file in the dir.
	-->
	<!-- Uncomment to add Hide/show option to menu -->
	<!--<item label="Hide/Show" id="hide_show" />-->
	<!-- user definable actions here: -->
		<item label="Change Wallpaper Clock">
		<!--<<item label="Add">
			<item label="Clock" id="add:ClockScreenlet" />
			<item label="CPU-Meter" id="add:CPUMeterScreenlet" />
			<item label="Example" id="add:ExampleScreenlet" />
			<item label="Sticky Note" id="add:NotesScreenlet" />
			<item label="Ruler" id="add:RulerScreenlet" />
			<item label="Window-List" id="add:WindowlistScreenlet" />-->
			<!-- TEST -->
			<!--<scandir directory="." 
				filter="*Screenlet.py"
				skip="ControlScreenlet.py"
				id_prefix="add:"
				id_suffix="Screenlet"
				search="Screenlet.py"
				replace=""
			/>-->
			<scandir directory="/usr/local/share/screenlets/WallpaperClock/wallpapers" 
				filter="*.*"
				skip=""
				id_prefix="change"

				search=""
				replace=""
			/>
			<separator />
			<scandir directory="$HOME/.screenlets/WallpaperClock/wallpapers" 
				filter="*.*"
				id_prefix="change"

				search=""
				replace=""
			/>
			<separator />
			<scandir directory="/usr/share/screenlets/WallpaperClock/wallpapers" 
				filter="*.*"
				id_prefix="change"

				search=""
				replace=""
			/>
			<!-- TODO: replace $HOME in directory -->
			<!-- <scandir directory="$HOME/.screenlets" /> -->
	</item>
	<item label="Install Wallpaper Clock"  id="Install" />
	<item label="Download more Clocks"  id="visit" />
	<item label="View Wallpaper info"  id="wallinfo" />
</menu>
