[Desktop Entry]
Type=Application
Version=1.0
Name=Screenlets Daemon
Exec=screenlets-daemon > /dev/null
X-GNOME-Autostart-enabled=true
Name[de_DE]=Screenlets Daemon
Name[et_EE]=Screenlets'i deemon
