[Desktop Entry]
Type=Application
Categories=Settings;
Name=Screenlets
Name[de]=Screenlets
Name[et]=Screenlets
Comment=A graphical tool to manage your Screenlets.
Comment[de]=Ein grafisches Werkzeug, um Ihre Screenlets zu verwalten.
Comment[et]=Graafiline tööriist Screenlets vidinate haldamiseks
Encoding=UTF-8
Icon=/usr/share/icons/screenlets.svg
Exec=/usr/share/screenlets-manager/screenlets-manager.py > /dev/null
StartupNotify=true

