[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=Clock
Name[de]=Uhr
Comment=A wonderful screen-clock with alarm-function and multiple themes.
Comment[de]=Eine wunderschöne Bildschirm-Uhr mit Alarm-Funktion und wechselbaren Stilen.
MimeType=application/x-screenlet
Encoding=UTF-8
Icon=/usr/local/share/screenlets/Clock/icon.svg
Exec=/usr/local/share/screenlets/Clock/ClockScreenlet.py > /dev/null
StartupNotify=true
