[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=Control
Name[de]=Control
Name[et]=Kontrollnupp
Comment=A simple control-button for adding screenlets and launching applications.
Comment[de]=Ein einfacher Kontroll-Button zum Starten von Screenlets und anderen Anwendungen.
Comment[et]=Lihtne kontrollnupp uute Screenlet vidinate lisamiseks ning muude programmide käivitamiseks.
MimeType=application/x-screenlet
Icon=/usr/share/screenlets/Control/icon.svg
Exec=python -u /usr/share/screenlets/Control/ControlScreenlet.py > /dev/null

