[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=CPU-Meter
Name[de]=CPU-Meter
Name[et]=CPU-näidik
Comment=A themeable CPU-meter that displays your cpu's usage.
Comment[de]=Ein CPU-Meter mit wechselbaren Stilen, das die aktuelle CPU-Auslastung anzeigt.
Comment[et]=CPU-näidik, mis kuvab protsessori koormust.
MimeType=application/x-screenlet
Icon=/usr/share/screenlets/CPUMeter/icon.svg
Exec=python -u /usr/share/screenlets/CPUMeter/CPUMeterScreenlet.py > /dev/null

