[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=Flower
Name[de]=Blume
Name[et]=Lill
Comment=A growing plant for your desktop, with support for multiple themes.
Comment[de]=Eine wachsende Pflanze für Ihren Desktop, mit auswechselbaren Stilen.
Comment[et]=Erinevate teemade abil kohandatav lill sinu töölauale.
MimeType=application/x-screenlet
Icon=/usr/share/screenlets/Flower/icon.svg
Exec=python -u /usr/share/screenlets/Flower/FlowerScreenlet.py > /dev/null

