[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=Launcher
Name[de]=Anwendungsstarter
Name[et]=Käivitaja
Comment=A simple application-launcher icon.
Comment[de]=Ein Icon, das Anwendungen startet (wie ein Desktop-Icon).
Comment[et]=Lihtne ikoon rakenduste käivitamiseks.
MimeType=application/x-screenlet
Encoding=UTF-8
Icon=/usr/local/share/screenlets/Launcher/icon.svg
Exec=/usr/local/share/screenlets/Launcher/LauncherScreenlet.py > /dev/null

