[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=Mail Check
Name[de]=Mail-Check
Comment=A screenlet that searches a server/directory for new e-mail after a certain interval.
Comment[de]=Ein Screenlet, das in bestimmten Zeitabständen einen Ort/Server nach neuen E-Mails durchsucht.
MimeType=application/x-screenlet
Encoding=UTF-8
Icon=/usr/local/share/screenlets/MailCheck/icon.svg
Exec=/usr/local/share/screenlets/MailCheck/MailCheckScreenlet.py > /dev/null

