[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=Notes
Name[de]=Notizen
Name[et]=Märkmed
Comment=Helpful sticky notes with transparency and support for multiple themes.
Comment[de]=Hilfreiche Klebezettel mit Transparenz und wechselbarem Aussehen.
Comment[et]=Kasulik vidin märkmete tegemiseks.
MimeType=application/x-screenlet
Icon=/usr/share/screenlets/Notes/icon.svg
Exec=python -u /usr/share/screenlets/Notes/NotesScreenlet.py > /dev/null
StartupNotify=true
