[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=Pictureframe
Name[de]=Bilderrahmen
Name[et]=Pildiraam
Comment=A screenlet showing a picture-frame where you can place your own images.
Comment[de]=Ein Bilderrahmen zum Ausstellen Ihrer Bilder.
Comment[et]=Screenlet vidin, mida saab kasutada oma fotode kuvamiseks töölaual.
MimeType=application/x-screenlet
Encoding=UTF-8
Icon=/usr/share/screenlets/Picframe/icon.svg
Exec=/usr/share/screenlets/Picframe/PicframeScreenlet.py > /dev/null

