[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=Pictureframe
Name[de]=Bilderrahmen
Comment=A screenlet showing a picture-frame where you can place your own images.
Comment[de]=Ein Bilderrahmen zum Ausstellen Ihrer Bilder.
MimeType=application/x-screenlet
Encoding=UTF-8
Icon=/usr/local/share/screenlets/Picframe/icon.svg
Exec=/usr/local/share/screenlets/Picframe/PicframeScreenlet.py > /dev/null

