[Desktop Entry]
Type=Application
Categories=Screenlets;
Name=Windowlist
Name[de]=Fensterliste
Name[et]=Akende nimekiri
Comment=A windowlist showing only the window icons on opaque background.
Comment[de]=Eine Fensterliste, die Fenster-Icons auf transparentem Hintergund anzeigt.
Comment[et]=Screenlet vidin, mis näitab kõiki su lahtiolevaid aknaid.
MimeType=application/x-screenlet
Icon=/usr/share/screenlets/Windowlist/icon.svg
Exec=python -u /usr/share/screenlets/Windowlist/WindowlistScreenlet.py > /dev/null

