<menu>
	<!--Feeds submenu-->
	<imageitem label="View this News" icon="firefox" id="firefox" />
	<item label="Feeds">
	<!--<item label="Custom screenlets" id="set_feed_screenlets" />-->
	<item label="GnomeFiles" id="set_feed_gnome" />
	<item label="Digg" id="set_feed_dig" />
	<item label="BBC News" id="set_feed_bbc" />
	<item label="Ubuntuforums.org" id="set_feed_ubuntuforums" />
	<item label="Linux Insider" id="set_feed_linuxinsider" />
	<item label="OSNews" id="set_feed_osnews" />
	<item label="Distrowatch" id="set_feed_distrowatch" />
	<item label="CNET News.com" id="set_feed_cnet" />
	<item label="Yahoo! News: Technology" id="set_feed_yahoo" />
	<item label="Wired News" id="set_feed_wired" />
	</item>
	<item label="Refresh" id="refresh" />
	<item label="Previous item" id="prev_item" />
	<item label="Next item" id="next_item" />
</menu>
